config light_control
	option port '5005'
	option interface 'lan'
	option enabled '1'

config map
	option lux_below '200'
	option brightness '100'

config map
	option lux_below '400'
	option brightness '60'

config map
	option lux_below '65535'
	option brightness '30'

config scene 'morning'
	option from_time '06:00'
	option to_time '11:00'

config scene 'day'
	option from_time '11:00'
	option to_time '18:00'

config scene 'night'
	option from_time '18:00'
	option to_time '06:00'
	option min_brightness '10'
	option max_brightness '40'
